<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tux.gu.se.trux" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/truck"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="se.gu.tux.trux.gui.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="se.gu.tux.trux.gui.DriverHomeScreen"
            android:label="Trux - Home" >
            <intent-filter>
                <action android:name="android.intent.action.PICK_ACTIVITY" />
            </intent-filter>
        </activity>
        <activity
            android:name="se.gu.tux.trux.gui.Stats"
            android:label="Trux - Stats" >
            <intent-filter>
                <action android:name="android.intent.action.PICK_ACTIVITY" />
            </intent-filter>
        </activity>
        <activity
            android:name="se.gu.tux.trux.gui.SpeedWindow"
            android:label="Trux - Speed" >
            <intent-filter>
                <action android:name="android.intent.action.PICK_ACTIVITY" />
            </intent-filter>
        </activity>
        <activity
            android:name="se.gu.tux.trux.gui.FuelWindow"
            android:label="Trux - Fuel" >
        </activity>
        <activity
            android:name="se.gu.tux.trux.gui.DistanceTraveledWindow"
            android:label="Trux - Distance Traveled" >
        </activity>
        <activity
            android:name="se.gu.tux.trux.gui.SimpleStats">
        </activity>
    </application>

</manifest>
