<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tux.gu.se.trux" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/truck"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name="se.gu.tux.trux.gui.BaseAppActivity" >
        </activity>
        <activity
            android:name="se.gu.tux.trux.gui.AboutMenuActivity"
            android:label="About"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.PICK_ACTIVITY" />
            </intent-filter>
        </activity>
        <activity
            android:name="se.gu.tux.trux.gui.ContactMenuActivity"
            android:label="Contact"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.PICK_ACTIVITY" />
            </intent-filter>
        </activity>
        <activity
            android:name="se.gu.tux.trux.gui.SettingsMenuActivity"
            android:label="Settings"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.PICK_ACTIVITY" />
            </intent-filter>
        </activity>
        <activity
            android:name="se.gu.tux.trux.gui.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="se.gu.tux.trux.gui.DriverHomeScreen"
            android:label="Trux - Home"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="se.gu.tux.trux.gui.detailedStats.Stats"
            android:label="Trux - Stats"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.PICK_ACTIVITY" />
            </intent-filter>
        </activity>
        <activity
            android:name="se.gu.tux.trux.gui.simpleStats.SimpleStats"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="se.gu.tux.trux.gui.detailedStats.OverallStats"
            android:label="@string/title_activity_overall_stats"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="se.gu.tux.trux.gui.ChooseStatScreen"
            android:label="@string/title_activity_choose_stat_screen"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="se.gu.tux.trux.gui.community.Community_main"
            android:label="@string/title_activity_community_main" >
        </activity>
        <activity
            android:name="se.gu.tux.trux.gui.community.FragmentPageAdapterCommunity"
            android:label="@string/title_activity_fragment_page_adapter_community" >
        </activity>
    </application>

</manifest>
