<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tux.gu.se.trux" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />


    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/truxicon"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme">


        <!-- META DATA -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB7ZMHdX5BByguQKiqsLzuSzReQGxpRMDU" />


        <!-- ACTIVITIES -->
        <!-- Base App Activity -->
        <activity android:name="se.gu.tux.trux.gui.base.BaseAppActivity" ></activity>

        <!-- Main Activity -->
        <activity
            android:name="se.gu.tux.trux.gui.main_home.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- About Menu Activity -->
        <activity
            android:name="se.gu.tux.trux.gui.base.AboutMenuActivity"
            android:label="About"
            android:screenOrientation="portrait">
        </activity>

        <!-- Contact Menu Activity -->
        <activity
            android:name="se.gu.tux.trux.gui.base.ContactMenuActivity"
            android:label="Contact"
            android:screenOrientation="portrait">
        </activity>

        <!-- Settings Menu Activity -->
        <activity
            android:name="se.gu.tux.trux.gui.base.SettingsMenuActivity"
            android:label="Settings"
            android:screenOrientation="portrait">
        </activity>

        <!-- Register Activity -->
        <activity
            android:name="se.gu.tux.trux.gui.base.RegisterActivity"
            android:label="@string/title_activity_register"
            android:screenOrientation="portrait"
            android:parentActivityName="se.gu.tux.trux.gui.main_home.MainActivity">
        </activity>

        <!-- Home Activity and its children activities go here below -->
        <activity
            android:name="se.gu.tux.trux.gui.main_home.HomeActivity"
            android:label="Home"
            android:screenOrientation="portrait">
        </activity>

        <!-- FriendWindow Activity -->
        <activity
            android:name="se.gu.tux.trux.gui.community.FriendsWindow"
            android:label="Friends"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
        </activity>

        <!-- Community Profile Activity -->
        <activity
            android:name="se.gu.tux.trux.gui.community.CommunityProfileActivity"
            android:label="Community Profile"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <!-- End Home Activity -->

        <!-- Message Activity -->
        <activity
            android:name="se.gu.tux.trux.gui.messaging.MessageActivity"
            android:label="Messages"
            android:screenOrientation="portrait">
        </activity>

        <service android:name="se.gu.tux.trux.technical_services.DataPoller" />

    </application>

</manifest>
